<!-- 
  <form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
    <mat-form-field class="fullwidth">
      <mat-checkbox class="example-margin" [(ngModel)]="preferences.showToolTips">Show ToolTips</mat-checkbox>
      <mat-hint>show text next to each button</mat-hint>
    </mat-form-field>
  </form> -->

<h3>Settings</h3>
<form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">

  <p>
    <mat-form-field>
      <mat-select name="type" [(ngModel)]="preferences.showToolTips" placeholder="Game Type">
        <mat-option [value]="true">Show Button Text</mat-option>
        <mat-option [value]="false">Hide Button Text</mat-option>
      </mat-select>
      <mat-hint>show button text</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <button type="submit" mat-raised-button color="primary">Save</button>
  </p>

</form>
