<mat-horizontal-stepper [selectedIndex]="(context.mode == RoundMode.Create ) ? 0 : 1" >

  <mat-step>  

    <ng-template matStepLabel>Bid</ng-template>
    <div>

      <mat-form-field [style.width.px]=60>
        <mat-label>Bid</mat-label>
        <input matInput type="number" [(ngModel)]="context.round.bid.points" (change)="onScoreChange($event)">
      </mat-form-field>
      <mat-form-field >
        <mat-select name="player" placeholder="Winner">
            <mat-option ngDefaultControl *ngFor="let player of context.parent.players" [(ngModel)]="context.round.bid.player" [value]="player">
              {{player.name}}
            </mat-option>
        </mat-select>
      </mat-form-field>

    </div> 



    <div>
      <mat-button-toggle-group name="color" [(ngModel)]="context.round.bid.trump">
        <mat-button-toggle value="red">Red</mat-button-toggle>
        <mat-button-toggle value="black">Black</mat-button-toggle>
        <mat-button-toggle value="yellow">Yellow</mat-button-toggle>
        <mat-button-toggle value="green">Green</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <br/>

    <div>
      <button mat-raised-button (click)="onCancel()">Cancel</button>
      
      <button mat-raised-button color="primary" (click)="onCreate()"
      *ngIf="context.mode == RoundMode.Create">Add Hand</button>

      <button mat-raised-button matStepperNext color="primary" 
      *ngIf="context.mode == RoundMode.Edit">
        Next <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>

  </mat-step>

  <mat-step *ngIf="context.mode == RoundMode.Edit" title="Bid">
    <ng-template matStepLabel>Score</ng-template>

     <div *ngFor="let faction of context.parent.match.factions; let i=index;">
    
      <mat-form-field class="example-full-width">
        <mat-label>{{ faction.name }}</mat-label>
        <input matInput type="number" value="0" [(ngModel)]="context.round.details[i].score" (change)="onScoreChange($event)">
      </mat-form-field>
    
    </div>

    <div>
      <button mat-raised-button matStepperPrevious>
        <mat-icon>arrow_back</mat-icon>Back
      </button>
      <button mat-raised-button color="accent" (click)="onDelete()">Delete</button>
      <button mat-raised-button color="primary" (click)="onCancel()">Done</button>
    </div>

  </mat-step>
</mat-horizontal-stepper>

