<!-- <table class="mat-table">
  <thead>
    <tr class="mat-header-row">
      <th class="mat-header-cell cdk-column-Hand mat-column-Hand">Hand</th>
      <th class="mat-header-cell cdk-column-Hand mat-column-Hand"
      *ngFor="let faction of match.factions; let i=index;">
      {{faction.name}}
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let hand of hands">
      <td class="mat-cell cdk-column-Hand mat-column-Hand">
        {{hand.number}}
        <button mat-button><mat-icon>edit_note</mat-icon></button>
        {{hand.bid.points}} <mat-icon>east</mat-icon>
      </td>
      <td *ngFor="let detail of hand.details" class="mat-cell cdk-column-Hand mat-column-Hand">
        {{detail.score}}
      </td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td class="mat-footer-cell cdk-column-Parents mat-column-Parents">
        <button mat-mini-fab (click)="openAddHandDialog()" >
        <i class="material-icons">add</i></button>
      </td>
      <td *ngFor="let faction of match.factions; let i=index;" class="mat-footer-cell cdk-column-Parents mat-column-Parents">
        <b> {{ getTotal(i+1) }} </b>
      </td>
    </tr>
  </tfoot>
  
</table>

<hr> -->

<table mat-table [dataSource]="dataSource">
  
<ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay; let i=index;">

  <th mat-header-cell *matHeaderCellDef> {{column}} </th>
  
  <td mat-cell *matCellDef="let element" >
    <div *ngIf="i > 0; else elseBlock"> 
      {{element.details[i-1].score}}
    </div>
    <ng-template #elseBlock> {{element.number}} &nbsp;
      <button mat-button><mat-icon>edit_note</mat-icon></button>
      {{element.bid.points}}+ <mat-icon class="material-icons color_{{element.bid.trump}}">style</mat-icon>
      <mat-icon class="material-icons color_{{element.bid.trump}}">east</mat-icon>
    </ng-template>
  </td>

  <td mat-footer-cell *matFooterCellDef>
    <div *ngIf="i > 0; else elseBlock2">
      <b> {{ getTotal(i) }} </b>*
    </div>
    <ng-template #elseBlock2>
      <button mat-mini-fab (click)="openAddHandDialog()">
      <i class="material-icons">add</i></button>
    </ng-template>
  </td>

</ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
</table>