<table class="styled-table">
  <thead>
    <tr>
      <th rowspan="2">Hand</th>
      <th *ngFor="let faction of match.factions; let i=index;">
        {{faction.name}} 
        <a *ngIf="!showPlayerNames" [routerLink]="" (click)="showPlayerNames = true">+</a> 
      </th>
    </tr>
    <tr *ngIf="showPlayerNames">
      <td *ngFor="let faction of match.factions; let i=index;">
        {{ getPlayersAsString(faction,' / ') }} <a [routerLink]="" (click)="showPlayerNames = false">-</a> 
      </td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let hand of hands" class="mat-row">
      <td>
        {{hand.number}}
        <button mat-button (click)="openEditHandDialog(hand)"><mat-icon>edit_note</mat-icon></button>
        {{hand.bid.points}} 
        <mat-icon class="material-icons color_{{hand.bid.trump}}">arrow_forward</mat-icon>
      </td>

      <td *ngFor="let detail of hand.details">
        <div class="score">
          <div class="score-total">{{detail.totalScore}}</div>
          <div class="score-hand">{{detail.score | score}}</div>
        </div>
      </td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td>
        <button mat-mini-fab (click)="openAddHandDialog()" >
        <i class="material-icons">add</i></button>
      </td>
      <th *ngFor="let faction of match.factions; let i=index;">
        <div> {{ getTotal(i+1) }} </div>
      </th>
    </tr>
  </tfoot>
</table>