<table mat-table [dataSource]="dataSource">
  <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay; let i=index;">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element">
       <div *ngIf="i > 0; else elseBlock">
         {{element.details[i-1].score}}
         <mat-icon *ngIf="element.details[i-1].flags.includes('SHOOT_THE_MOON')">
           dark_mode
         </mat-icon>
         <mat-icon *ngIf="element.details[i-1].flags.includes('STOPPED_SHOOT_THE_MOON')">
           favorite_border
         </mat-icon>
       </div>
       <ng-template #elseBlock>{{element.number}}</ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
</table>

<div>
  <button mat-mini-fab (click)="openAddHandDialog()">
    <i class="material-icons">add</i>
  </button>
</div>