<table mat-table [dataSource]="dataSource">
  <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay; let i=index;">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="i > 0; else elseBlock"> 
        
        <div class="score">
          <div class="score-total">
            <ng-container *ngIf="element.details[i-1].totalScore !=0">{{element.details[i-1].totalScore}</ng-container>
          </div>
          <div class="score-hand">+{{element.details[i-1].score}}</div>
        </div>
        <mat-icon *ngIf="element.details[i-1].flags.includes('SHOOT_THE_MOON')">dark_mode</mat-icon>
        <mat-icon *ngIf="element.details[i-1].flags.includes('STOPPED_SHOOT_THE_MOON')">favorite_border</mat-icon>
      </div>
      <ng-template #elseBlock> 
        {{element.number}} 
        <button mat-button>
          <mat-icon>edit_note</mat-icon>
        </button>
        <!-- <mat-icon >{{element.getDirection(match.factions.length)}}</mat-icon> -->

      </ng-template>
    </td>
    <td *matFooterCellDef style="align: right">
      <div *ngIf="i > 0; else elseBlock2">
        <b> {{ getTotal(i) }} </b>
      </div>
      <ng-template #elseBlock2>
        <button mat-mini-fab (click)="openAddHandDialog()">
        <i class="material-icons">add</i></button>
      </ng-template>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
</table>