
    <div *ngFor="let faction of parent.match.factions; let i=index;">
    

    <mat-form-field class="example-full-width" [style.width.px]=60>
      <mat-label>Score</mat-label>
      <input width="3" matInput type="number">
    </mat-form-field>

    {{ faction.name }}

    <!-- <mat-button-toggle value="bold">
      <mat-icon>dark_mode</mat-icon>
    </mat-button-toggle>

    <mat-button-toggle value="bold">
      <mat-icon>favorite_border</mat-icon>
    </mat-button-toggle> -->
    </div>
  
    <div>
    <button mat-raised-button>Cancel</button>
    <button mat-raised-button color="primary">Add Hand</button>
    </div>
