<mat-card *ngFor="let faction of parent.match.factions; let i=index;">
  <mat-card-title>{{ faction.name }}</mat-card-title>
  <mat-card-content class="form-container">

    <!-- <input type="number" matInput [(ngModel)]="detail.score" name="score" placeholder="Score"> -->

    <mat-button-toggle value="bold">
      <mat-icon>dark_mode</mat-icon>
    </mat-button-toggle>

    <mat-button-toggle value="bold">
      <mat-icon>favorite_border</mat-icon>
    </mat-button-toggle>

  </mat-card-content>
</mat-card>
