
<div *ngFor="let faction of context.parent.match.factions; let i=index;">
  
  <mat-form-field class="example-full-width">
    <mat-label>{{ faction.name }}</mat-label>
    <input width="3" matInput type="number" value="0" [(ngModel)]="context.round.details[i].score" (change)="onScoreChange($event)">
  </mat-form-field>

  &nbsp;<mat-slide-toggle (change)="shootTheMoonChange(i, $event)" [disabled]="context.round.details[i].score > 0">
    <mat-icon>dark_mode</mat-icon>
  </mat-slide-toggle>

</div>

<div *ngIf="context.mode == RoundMode.Create">
  <button mat-raised-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onCreate()">Add Hand</button>
</div>

<div *ngIf="context.mode == RoundMode.Edit">
  <button mat-raised-button (click)="onDelete()">Delete</button>
  <button mat-raised-button color="primary" (click)="onCancel()">Done</button>
</div>

<div>
  <br>
Total Points: {{ totalPoints }}
</div>
