<h3>New Match</h3>
<form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">

    <table class="fullwidth" cellspacing="0">
        <tr>
            <td>
                <mat-form-field>
                    <mat-select name="type" [(ngModel)]="game.type" placeholder="Game Type">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let option of gameOptions" [value]="option.name">{{option.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput id="gameTypeNew" [(ngModel)]="game.gameTypeNew" name="gameTypeNew">
                    <mat-hint>or a new game</mat-hint>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <mat-select name="factionCount" [(ngModel)]="game.factionCount" placeholder="Teams / Factions">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let option of factionOptions" [value]="option">{{option}}</mat-option>
                    </mat-select>
                    <mat-hint>the number of players</mat-hint>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput placeholder="Date/Time" id="dateTime" [(ngModel)]="game.dateTime" name="dateTime">
                    <mat-hint>when the game was played</mat-hint>
                </mat-form-field>
            </td>
        </tr>
        <tr>
        <td>
            
        </td>
    </tr>
    </table>

    <!--
    <p>
        <mat-form-field class="fullwidth">
            <textarea matInput placeholder="Address" id="address" [(ngModel)]="game.address" name="address"></textarea>
        </mat-form-field>
    </p>
    <table class="fullwidth" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput placeholder="City" id="city" [(ngModel)]="game.city" name="city">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput placeholder="State" id="state" [(ngModel)]="game.state" name="state">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fullwidth">
                    <input matInput #postalcode maxlength="5" placeholder="Postal Code" id="postalcode" [(ngModel)]="game.postalcode" name="postalcode">
                </mat-form-field>
            </td>
        </tr>
    </table>
-->
    <p>
        <button type="submit" md-raised-button>Submit</button>
    </p>
</form>