<h3>New Match</h3>


<mat-horizontal-stepper linear>

    <mat-step label="Step 1">

            <table class="fullwidth" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-select name="type" [(ngModel)]="match.type" placeholder="Game Type">
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let option of gameOptions" [value]="option.name">{{option.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="fullwidth">
                            <input matInput [(ngModel)]="match.gameTypeNew" name="gameTypeNew">
                            <mat-hint>or a new game</mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input type="number" min="1" max="10" matInput [(ngModel)]="match.factionCount" name="factionCount" placeholder="Teams / Factions">
                            <!-- <mat-select name="factionCount" [(ngModel)]="match.factionCount" placeholder="Teams / Factions">
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let option of factionOptions" [value]="option">{{option}}</mat-option>
                            </mat-select> -->
                            <mat-hint>the number of players</mat-hint>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="fullwidth">
                            <input matInput [(ngModel)]="match.dateTime" name="dateTime">
                            <mat-hint>when the game was played</mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
           
            </table>

        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
            
          </div>

    </mat-step>

    <mat-step label="Step 2" [completed]="step2Complete">
      <h4>Step 2</h4>
       <button (click)="toggleStep2Complete()" mat-flat-button color="primary">{{ step2Complete === true ? "Toggle:Complete" : "Toggle:Incomplete"}}
       </button>
         <div>
           <button mat-button matStepperNext>Next</button>
         </div>
    </mat-step>

    <mat-step label="Step 3" optional>
         <p>Step 3</p>


         


         <div *ngFor="let player of match.availablePlayers">
            <mat-checkbox> {{ player.name }} </mat-checkbox>
         </div>

         <div>
           <button mat-button matStepperPrevious>Back</button>
           <button mat-button (click)="onSubmit()">Create Match</button>
         </div>
    </mat-step>

  </mat-horizontal-stepper> 
