<table class="styled-table">
  <thead>
    <tr>
      <th>Round</th>
      <th *ngFor="let faction of match.factions; let i=index;">{{faction.name}}</th>
    </tr>
    <tr *ngIf="showPlayerNames && match.sharedFactions">
      <td>&nbsp;</td>
      <td *ngFor="let faction of match.factions; let i=index;">
        {{ getPlayersAsString(faction,' / ') }}
        <a [routerLink]="" (click)="showPlayerNames = false">-</a> 
      </td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let round of rounds" class="mat-row">
      <td> 
        {{round.number}} 
        <button mat-button (click)="openEditRoundDialog(round)"><mat-icon>edit_note</mat-icon></button>
      </td>
      <td *ngFor="let detail of round.details">
        <div class="score">
          <div class="score-total">{{detail.totalScore}}</div>
          <div class="score-round">{{detail.score | score}}</div>
        </div>
      </td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td>
        <button mat-mini-fab (click)="openAddRoundDialog()" >
        <i class="material-icons">add</i></button>
      </td>
      <th *ngFor="let faction of match.factions; let i=index;">
        <div> {{ getTotal(i) }} </div>
      </th>
    </tr>
  </tfoot>
</table>